{% extends "DenisDTestBundle::layout.html.twig" %}

{% block title %}
    Авторизация
{% endblock %}

{% block content %}
    {% if error %}
	    <p style="color: red;">{{ error.message }}</p>
	{% endif %}
	{{ form(form) }}
{% endblock %}