{% extends "DenisDTestBundle::layout.html.twig" %}

{% block title %}
    Административная панель
{% endblock %}

{% block content %}
    <ul>
    	<li><a href="{{ path('admin_tests') }}">Тесты</a></li>
    </ul>
{% endblock %}