<!DOCTYPE html>
<html>
   <head>
        <title>Страница не найдена</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    </head>

    <body>
        <div class="wrapper-404">
            <!-- CONTENT -->
            <div class="page-404">
            	<div class="not-found">
            		<div class="lost">Страница потерялась</div>
            		<div class="err-code">(ошибка 404)</div>
	                Мы не можем найти страницу, которую Вы ищете.
            	</div>
            </div><!--/.page-404-->
            <!-- /CONTENT -->
        </div><!--/.wrapper-404-->
    </body>
</html>